
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Reset */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: gray;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.header-container {
    background-color: rgb(255,36,0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10vw;
}

.header-title {
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 24px;
}

.nav-list > * {
    color: white;
    font-weight: 400;
    font-size: 24px;
    list-style-type: none;
}

/* Mid-content */
.mid-content {
    display: flex;
    flex: 1;
}

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    flex: 0 25vw;
    background-color: rgb(52,52,52);
}

.main-content {
    flex: 0 60vw;
    background-color: whitesmoke;
}

/* Side bar */
.side-bar-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    padding: 8px;
    border-radius: 20px;
}

.create-project-button {
    border-radius: 5px;
    height: 48px;
    width: 48px;
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms ease-in;
}

.create-project-button > * {
    cursor: pointer;
}

.create-project-button:hover {
    transform: translateX(0.1rem);
    height: 56px;
    width: 56px;
    cursor: pointer;
}

.create-project-button img {
    cursor: pointer;
    height: 48px;
    width: 48px;
}
/* Main content */

    /* Main content header */
    .header-content {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0 24px;
        margin: 0 24px;
        border-bottom: 1px solid silver;
    }

    .main-title {
        font-size: 48px;
        margin: 0;
        margin-top: 2rem;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .header-right {
        display: grid;
        align-items: end;
    }

    .create-task-button {
        border-radius: 25px;
        padding: 4px 4px 4px 8px;
        background-color: #ff3a1a;
        border: none;
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        padding: 1rem;
        cursor: pointer;
        transition: 200ms ease-out;
        margin-bottom: 0.5rem;
    }

    .create-task-button:hover {
        transform: translateY(-0.25rem);
    }

    .expand {
        cursor: pointer;
    }

    .drop-icon {
        margin-top: 6px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    /* Content box */
    .content-box {
        display: flex;
        flex-wrap: wrap;
        padding: 24px 8px;
    }

/* Project Container */
.project-sidebar {
    display: grid;
    gap: 1rem;
}
.project-container {
    background-color: white;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 3px 3px -2px black;
    border-radius: 5px;
    transition: 200ms ease-out;
}

.project-container:hover {
    background-color: gainsboro;
    color: #1f2937;
}

.project-header {
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    grid-template-columns: auto 1fr auto;
}

.project-title-container {
    display: flex;
    gap: 1rem;
}

.project-title {
    min-height: 1.5rem;
    min-width: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.project-desc {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    background-color: gray;
    color: white;
    display: block;
}

.unfinished, .finished {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: 2px solid black;
    outline-offset: 2px;
}

.finished {
    background-color: black;
}

/* Task Container */
.task-mainbox {
    display: grid;
    padding: 1rem 0 1rem 0;
}

.task-container {
    border-top: 1px solid gray;
    transition: 150ms ease-out;
}

.task-container:hover {
    transform: translateY(-0.25rem);
}

.task-title-container {
    display: flex;
    gap: 1rem;
}

.task-title {
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.task-header {
    background-color: #d6d6d6;
    display: grid;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    grid-template-columns: auto 1fr auto;
    padding: 1rem;
}

.task-desc {
    padding: 1rem;
    color: white;
    background-color: #ff3a1a;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 3px -1px black;
}

/* Form Wrapper */
.form-wrapper {
    position: absolute;
    padding: 10vh 30vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.form-container {
    background-color: white;
    display: grid;
    padding: 2rem;
}

.form-header {
    font-weight: 700;
    text-align: center;
    margin: 1rem;
}

.label-title, .label-desc {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input-title, .input-desc {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.submit-btn {
    align-self: start;
    justify-self: start;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: 1px solid #ff3a1a;
    font-size: 1.25rem;
    background-color: #ff3a1a;
    cursor: pointer;
    transition: 200ms ease-out;
}

.submit-btn:hover {
    background-color: white;
    color: #ff3a1a;
    border: 1px solid #ff3a1a;
}

.input-desc {
    resize: none;  
}

/* Utility Buttons */
.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-confirm {
    background: none;
    border: none;
    cursor: pointer;
}